{% extends "base.html" %}
{% block title %}Products{% endblock title %}

{% block page_content %}
<h1>Product Catalogs</h1>
<div>
    <a href="{% url 'catalogs:product_add' %}"><button type="button" class="btn btn-success">add</button></a>
  </div>
  <table class="table table-primary">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Description</th>
        <th scope="col">Qty</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for int in products %}
      <tr>
        <th scope="row">{{int.number}}</th>
        <td>{{int.name}}</td>
        <td>{{int.category}}</td>
        <td>{{int.description}}</td>
        <td>{{int.qty}}</td>
        <td>
          <a><button type="button" class="btn btn-info">Info</button></a>
          <button type="button" class="btn btn-warning">Edit</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}