{% extends "base.html" %} 
{% block page_content %}
<div class="col-md-8 offset-md-2">
  <h1>{{ inventory.name }}</h1>
  <h2>{{ inventory.number }}</h2>
  <hr />
  <h3>{{ inventory.category }}</h3>
  <h4>{{ inventory.type }}</h4>
  <h5>{{ inventory.status }}</h5>
  <p><b>Quantity: </b>{{ inventory.qty }}</p>
  <p>{{ inventory.description }}</p>
  <br />
  <a href="{% url 'inventory:inventory_edit' int.pk%}"><button type="button" class="btn btn-warning">Edit</button></a>
  <a href="{% url 'inventory:delete' int.pk%}"><button type="button" class="btn btn-danger">Delete</button></a>
</div>
{% endblock %}
