{% extends "base.html" %}
{% block title %}Inventories{% endblock title %}
{% block page_content %}
<h1>Inventory List</h1>
<div>
  <a href="{% url 'inventory:inventory_add' %}"><button type="button" class="btn btn-success">add</button></a>
</div>
<table class="table table-primary">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th scope="col">Qty</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for int in inventories %}
    <tr>
      <th scope="row">{{int.number}}</th>
      <td>{{int.name}}</td>
      <td>{{int.category}}</td>
      <td>{{int.description}}</td>
      <td>{{int.qty}}</td>
      <td>
        <a href="{% url 'inventory:inventory_info' int.pk%}"><button type="button" class="btn btn-info">Info</button></a>
        <button type="button" class="btn btn-warning">Edit</button>
        <a href="{% url 'inventory:delete' int.pk%}"><button type="button" class="btn btn-danger">Delete</button></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
