{% extends "base.html" %} {% block title %} Signin {% endblock title %}
 {% block page_content %}
<h1>Sign In</h1>
<div
  class="container"
  style="
    display: flexbox;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  "
>
  <div
    style="
      width: 30em;
      display: flexbox;
      flex-direction: row;
      justify-content: center;
      width: 100%;
    "
  >
    <form action="" role="form" method="POST">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit" class="btn btn-success btn-lg">Login</button>
      <a href="#" class="btn btn-link">forget Password</a>
      <br />
      <a href="{% url 'user:register' %}"
        ><button type="button" class="btn btn-success btn-lg">Signup</button></a
      >
    </form>
  </div>
</div>
{% endblock %}
