{% extends "base.html" %} {% block page_content %}
<div class="col-md-8 offset-md-2">
  <h1>{{ supplier.name }}</h1>
  <h2>{{ supplier.number }}</h2>
  <hr />
  <h3>{{ supplier.company_name }}</h3>
  <h5>{{ supplier.status }}</h5>
  <p><b>Email: </b>{{ supplier.email }}</p>
  <p><b>Mobile: </b>{{ supplier.mobile }}</p>
  <br />
  <a href="{% url 'suppliers:supplier_edit' int.pk%}"
    ><button type="button" class="btn btn-warning">Edit</button></a
  >
  <a href="{% url 'suppliers:delete' int.pk%}"
    ><button type="button" class="btn btn-danger">Delete</button></a
  >
</div>
{% endblock %}
